<script>
	import { isLoading } from "@/lib/store";
</script>

<div id="loading" style="display: {$isLoading ? 'block' : 'none'}"></div>

<style>
	#loading {
		width: 100%;
		height: 100%;
		position: fixed;
		background: url(/img/loading2.gif) no-repeat center center;
	}
</style>
