<script lang="ts">
    import { onMount } from "svelte";
    import { push } from "svelte-spa-router";

    import { APICall, APIError } from "@/lib/apicall";
    import { loginCheck } from "@/lib/logincheck";
    import type { User } from "@/lib/types";

    let userList: User[] = [];

    onMount(async () => {
        if (!(await loginCheck())) {
            push("/");
        }

        await loadUserList();
    });

    function showList() {
        push("/list");
    }

    async function loadUserList() {
        try {
            userList = await APICall<User[]>("/admin/list", {});
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);
        }
    }

    async function setLevel(user: User): Promise<void> {
        try {
            await APICall<never>("/admin/setlevel", { ...user });

            alert("ok");
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);
        }
    }
</script>

<div>
    <span
        class="link"
        on:click={() => showList()}
        on:keypress={() => showList()}
        role="button"
        tabindex="0">리스트로 돌아가기</span
    >
    <br />

    {#each userList as item}
        <p>
            ID : {item.Id}, Level :
            <input type="number" min="1" max="100" bind:value={item.Level} />
            <button on:click={() => setLevel(item)}>레벨 바꾸기</button>
        </p>
    {/each}
</div>
