<script lang="ts">
    import { onMount } from "svelte";
    import { push } from "svelte-spa-router";

    import { APICall, APIError, APIUrl } from "@/lib/apicall";
    import { user } from "@/lib/store";
    import { loginCheck } from "@/lib/logincheck";
    import type { FileInfo } from "@/lib/types";

    export let path = "";
    export let params = { path: "" };

    let list: FileInfo[] = [];
    let loaded = false;

    onMount(async () => {
        if (!path && params.path) {
            path = params.path;
        }

        if (!(await loginCheck())) {
            push("/");
        }

        loaded = true;
    });

    $: {
        if (loaded) {
            if (path != params.path) {
                path = params.path || "";
            }

            loadList();
        }
    }

    async function logout() {
        await APICall<never>("/users/logout");
        user.set(undefined);

        push("/login");
    }

    async function loadList() {
        try {
            const res = await APICall<FileInfo[]>("/dir/list", { path });
            list = res;
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);
        }
    }

    function admin() {
        push("/admin");
    }

    async function upDir() {
        let newPath = path;
        const idx = path.lastIndexOf("/");
        if (idx === -1) {
            newPath = "";
        } else {
            newPath = path.slice(0, idx);
        }

        push(`/list/${encodeURIComponent(newPath)}`);
    }

    async function goDir(dir: string) {
        const newPath = path ? `${path}/${dir}` : dir;

        push(`/list/${encodeURIComponent(newPath)}`);
    }

    function viewNormal(name: string) {
        const filepath = path ? `${path}/${name}` : name;
        push(`/viewer/${encodeURIComponent(filepath)}/1`);
    }

    function downloadFile(name: string) {
        const filepath = path ? `${path}/${name}` : name;
        const url = APIUrl(
            `/dir/get?filepath=${encodeURIComponent(filepath)}&filename=${encodeURIComponent(name)}`
        );
        window.open(url, "_blank");
    }

    function humanReadSize(size: number): string {
        const thresh = 1024;
        if (size < thresh) {
            return size + " B";
        }
        const units = ["kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
        let u = -1;
        do {
            size /= thresh;
            ++u;
        } while (size >= thresh && u < units.length - 1);

        return size.toFixed(2) + " " + units[u];
    }

    function humanReadTime(unixtime: number) {
        const date = new Date(unixtime * 1000);

        const month = (date.getMonth() + 1).toString().padStart(2, "0");
        const day = date.getDate().toString().padStart(2, "0");
        const hour = date.getHours().toString().padStart(2, "0");
        const min = date.getMinutes().toString().padStart(2, "0");
        const sec = date.getSeconds().toString().padStart(2, "0");

        const str =
            date.getFullYear() +
            "-" +
            month +
            "-" +
            day +
            " " +
            hour +
            ":" +
            min; // + ":" + sec;

        return str;
    }
</script>

<div class="back">
    <div class="content" style="padding-top: 1px;">
        <h1>일수의 베리즈 GO!/{path}</h1>
        <h2>
            {$user?.Id}님 -
            <span
                class="link"
                on:click={() => logout()}
                on:keypress={() => logout()}
                role="button"
                tabindex="0">일반인 코스프레 하기</span
            >
        </h2>
        {#if ($user?.Level || 0) >= 99}
            <h2>
                <span
                    class="link"
                    on:click={() => admin()}
                    on:keypress={() => logout()}
                    role="button"
                    tabindex="0">Admin Page</span
                >
            </h2>
        {/if}

        <div class="notice">
            <div class="white_notice">
                <p style="padding-left:3px;">
                    <img src="/img/bell.png" alt="bell" class="align-bottom" />
                    <span style="font-size:11pt; font-weight:bold;"
                        >공지사항</span
                    >
                </p>

                <p>
                    <img
                        src="/img/bullet_green.png"
                        alt="bullet_green"
                        class="align-bottom"
                    />
                    공식주소
                    <a href="http://ilsu.cf/"
                        ><img
                            src="/img/link.png"
                            alt="link"
                            class="align-bottom"
                        />http://ilsu.cf/</a
                    ><br />
                </p>
                <p>
                    <img
                        src="/img/bullet_green.png"
                        alt="bullet_green"
                        class="align-bottom"
                    /> 배너
                </p>
                <img
                    src="/img/bullet_red.png"
                    alt="bullet_red"
                    class="align-bottom"
                />
                웹브라우저
                <a href="http://chrome.google.com/" target="_blank"
                    ><img
                        src="/img/link.png"
                        alt="link"
                        class="align-bottom"
                    />구글 크롬(Google Chrome)</a
                > 에서 가장 예쁘게보입니다.
            </div>
        </div>

        <br />
        <span
            class="link"
            on:click={() => upDir()}
            on:keypress={() => upDir()}
            role="button"
            tabindex="0"
            ><img
                src="/img/arrow_undo.png"
                class="align-bottom"
                alt="상위 디렉토리"
            /> 상위 디렉토리</span
        ><br /><br />

        {#each list as item, idx}
            <div class="list_file">
                <div class="white_top">
                    <div class="left">
                        <div class="name">
                            <span id="">
                                {#if item.Dir}
                                    <img
                                        src="/img/folder_go.png"
                                        alt="directory"
                                        class="align-bottom"
                                    />
                                    <span
                                        class="link"
                                        on:click={() => goDir(item.Name)}
                                        on:keypress={() => goDir(item.Name)}
                                        role="button"
                                        tabindex="0">{item.Name}</span
                                    >
                                {:else}
                                    <img
                                        src="/img/disk.png"
                                        alt="file"
                                        class="align-bottom"
                                    />
                                    <span
                                        class="link"
                                        on:click={() => downloadFile(item.Name)}
                                        on:keypress={() =>
                                            downloadFile(item.Name)}
                                        role="button"
                                        tabindex="0">{item.Name}</span
                                    >
                                {/if}
                            </span>
                            {#if !item.Dir}
                                <span class="size"
                                    >({humanReadSize(item.Size)})</span
                                >
                            {/if}
                        </div>
                        <div class="date">
                            <img
                                src="/img/date.png"
                                alt="date"
                                class="align-bottom"
                            />
                            {humanReadTime(item.Time)}
                        </div>
                    </div>
                    <div class="right">
                        {#if item.Name.endsWith(".zip")}
                            <div>
                                <span
                                    class="link"
                                    on:click={() => viewNormal(item.Name)}
                                    on:keypress={() => viewNormal(item.Name)}
                                    role="button"
                                    tabindex="0"
                                    ><img
                                        src="/img/resultset_next.png"
                                        class="align-bottom"
                                        alt="view"
                                    /> 바로 보기</span
                                >
                            </div>
                            <!--<div><a href="a/oq"><img src='/img/resultset_last.png' valign='bottom'> 한번에보기</a></div>-->
                            <!--<div><a href="a/list"><img src='/img/table.png' valign='bottom'> 리스트보기</a></div>-->
                        {/if}
                    </div>
                </div>
            </div>
        {/each}

        <div class="notice" style="margin-top:15px;">
            <div class="white_notice" style="padding-top:10px;">
                <div style="margin: -5px 0px 5px 1px; float:left; width:470px;">
                    <!---AD--->
                </div>

                <div
                    style="margin-top:5px; float:right; width:300px; text-align:right; padding-right:5px; "
                >
                    <a href="mailto://pril@pril.cc"
                        ><img
                            src="/img/email.png"
                            class="align-bottom"
                            alt="email"
                        /></a
                    ><br />
                </div>
            </div>
        </div>
    </div>
</div>
