<script lang="ts">
    import { push } from "svelte-spa-router";

    import { onMount } from "svelte";
    import { APICall, APIError } from "@/lib/apicall";
    import { loginCheck } from "@/lib/logincheck";
    import { user } from "@/lib/store";

    let id = "";
    let pass = "";

    onMount(async () => {
        if (await loginCheck()) {
            goList();
        }
    });

    async function login() {
        if (!id || !pass) {
            alert("ID와 PW를 입력해주세요.");
            return;
        }

        try {
            const level = await APICall<number>("/users/login", { id, pass });

            user.set({ Id: id, Level: level });
            goList();
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);
        }
    }

    function goRegister() {
        push("/register");
    }

    function goList() {
        if (($user?.Level ?? 0) < 2) {
            alert("권한이 없습니다. 관리자에게 승인을 요청하세요.");
            return;
        }

        push("/list");
    }

    function onFormKeyDown(event: KeyboardEvent) {
        if (event.key === "Enter") {
            login();
        }
    }
</script>

<div class="back">
    <div class="content">
        <div class="notice">
            <div class="white_notice">
                <p style="padding-left:3px;">
                    <img src="/img/bell.png" alt="bell" class="align-bottom" />
                    <span style="font-size:11pt; font-weight:bold;">Login</span>
                </p>

                <p>
                    <img src="/img/bullet_green.png" alt="bullet_green" />
                    ID
                    <input
                        type="text"
                        bind:value={id}
                        on:keydown={(e) => onFormKeyDown(e)}
                    />
                </p>
                <p>
                    <img src="/img/bullet_green.png" alt="bullet_green" />
                    PW
                    <input
                        type="password"
                        bind:value={pass}
                        on:keydown={(e) => onFormKeyDown(e)}
                    />
                </p>
                <img src="/img/bullet_red.png" alt="bullet_red" />

                <button
                    on:click={() => login()}
                    on:keydown={(e) => onFormKeyDown(e)}>Login</button
                >
                <button on:click={() => goRegister()}>Join</button>

                <br />
                <p>
                    <img src="/img/bell.png" alt="bell" class="align-bottom" /> 계정이
                    초기화 되었습니다. 권한이 필요하신 분은 관리자에게 개인적으로
                    연락주세요.
                </p>
            </div>
        </div>
    </div>
</div>
