<script lang="ts">
    import { push } from "svelte-spa-router";

    import { APICall, APIError } from "@/lib/apicall";

    let id = "";
    let pass = "";
    let pass2 = "";

    async function register() {
        if (!id || !pass || !pass2) {
            alert("ID와 PW를 입력해주세요.");
            return;
        }

        if (pass !== pass2) {
            alert("PW가 일치하지 않습니다.");
            return;
        }

        try {
            await APICall<never>("/users/register", { id, pass });

            goLogin();
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);
        }
    }

    function goLogin() {
        push("/login");
    }

    function onFormKeyDown(event: KeyboardEvent) {
        if (event.key === "Enter") {
            register();
        }
    }
</script>

<div class="back">
    <div class="content">
        <div class="notice">
            <div class="white_notice">
                <p style="padding-left:3px;">
                    <img
                        src="/img/bell.png"
                        alt="bell"
                        class="align-bottom"
                    />
                    <span style="font-size:11pt; font-weight:bold;"
                        >Register</span
                    >
                </p>

                <p>
                    <img
                        src="/img/bullet_green.png"
                        alt="bullet_green"
                    />
                    ID
                    <input
                        type="text"
                        bind:value={id}
                        on:keydown={(e) => onFormKeyDown(e)}
                    />
                </p>
                <p>
                    <img
                        src="/img/bullet_green.png"
                        alt="bullet_green"
                    />
                    PW
                    <input
                        type="password"
                        bind:value={pass}
                        on:keydown={(e) => onFormKeyDown(e)}
                    />
                </p>
                <p>
                    <img
                        src="/img/bullet_green.png"
                        alt="bullet_green"
                    />
                    PW2
                    <input
                        type="password"
                        bind:value={pass2}
                        on:keydown={(e) => onFormKeyDown(e)}
                    />
                </p>
                <img src="/img/bullet_red.png" alt="bullet_red" />

                <button
                    on:click={() => register()}
                    on:keydown={(e) => onFormKeyDown(e)}>Register</button
                >
                <button on:click={() => goLogin()}>Cancel</button>
            </div>
        </div>
    </div>
</div>
