<script lang="ts">
    import { onMount, onDestroy } from "svelte";
    import { push } from "svelte-spa-router";

    import { APICall, APIError, APIUrl } from "@/lib/apicall";
    import { isLoading } from "@/lib/store";
    import { loginCheck } from "@/lib/logincheck";
    import type { FileInfo } from "@/lib/types";

    export let filePath = "";
    let dirPath = "";
    let fileName = "";

    export let pageIdx = 0;
    let totalPage = 0;

    export let params = { path: "", page: 0 };

    let fileIdx = 0;
    let fileList: string[] = [];

    onMount(async () => {
        if (!filePath && params.path) {
            filePath = params.path;
        }

        if (!pageIdx && params.page) {
            const p = +params.page - 1;
            if (!isNaN(p) && p >= 0) {
                pageIdx = p;
            }
        }

        document.addEventListener("mousemove", onMouseMove);
        document.addEventListener("keydown", onKeyDown);

        if (!(await loginCheck())) {
            push("/");
        }

        await loadFileList();
        await loadTotalPage();
    });

    async function loadTotalPage() {
        try {
            totalPage = await APICall("/mangaviewer/info", {
                filename: filePath,
            });
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);

            throw e;
        }
    }

    async function loadFileList() {
        try {
            const list = await APICall<FileInfo[]>("/dir/list", {
                path: dirPath,
            });

            fileList = list
                .filter((v) => !v.Dir && v.Name.endsWith(".zip"))
                .map((v) => v.Name);
            fileIdx = fileList.indexOf(fileName);
        } catch (e) {
            if (e instanceof APIError) {
                alert(e.message);
                return;
            }

            alert(e);

            throw e;
        }
    }

    async function goList() {
        push(`/list/${encodeURIComponent(dirPath)}`);
    }

    function imageUrl(imgPage: number) {
        const url = APIUrl(
            `/mangaviewer/getimage?filename=${encodeURIComponent(filePath)}&page=${imgPage}`
        );

        return url;
    }

    function onMouseMove(e: MouseEvent) {
        if (e.pageY <= 100) {
            menuForceShow = true;
            menuShow();

            return;
        }

        menuForceShow = false;
    }

    function onKeyDown(e: KeyboardEvent) {
        switch (e.code) {
            case "ArrowLeft":
            case "KeyZ":
                prevPage();
                break;
            case "ArrowRight":
            case "KeyX":
                nextPage();
                break;
            case "KeyC":
                menuShow();
                break;
        }
    }

    function prevPage() {
        if ($isLoading) {
            return;
        }

        if (pageIdx <= 0) {
            if (fileIdx <= 0) {
                alert("첫번째 파일입니다.");
                return;
            }

            fileIdx--;
            fileName = fileList[fileIdx];
            filePath = `${dirPath}/${fileName}`;
            loadTotalPage().then(() => {
                pageIdx = totalPage - 1;
                push(`/viewer/${encodeURIComponent(filePath)}/${pageIdx + 1}`);
            });
            return;
        }

        pageIdx--;
        push(`/viewer/${encodeURIComponent(filePath)}/${pageIdx + 1}`);
    }

    function nextPage() {
        if ($isLoading) {
            return;
        }

        if (pageIdx + 1 >= totalPage) {
            if (fileIdx + 1 >= fileList.length) {
                alert("마지막 파일입니다.");
                return;
            }

            fileIdx++;
            fileName = fileList[fileIdx];
            filePath = `${dirPath}/${fileName}`;
            loadTotalPage().then(() => {
                pageIdx = 0;
                push(`/viewer/${encodeURIComponent(filePath)}/${pageIdx + 1}`);
            });
            return;
        }

        pageIdx++;
        push(`/viewer/${encodeURIComponent(filePath)}/${pageIdx + 1}`);
    }

    function commandHelp() {
        alert(" z, ← 뒤로 이동\n x, → 앞으로 이동\n c 메뉴 보기");
    }

    let menuShowFlag = false;
    let menuForceShow = false;
    let menuHideTimer = 0;

    function menuShow() {
        menuShowFlag = true;

        if (menuHideTimer) {
            clearTimeout(menuHideTimer);
        }

        // node용 types를 읽어서 타입 에러 발생
        menuHideTimer = setTimeout(menuHide, 3000) as unknown as number;
    }

    function menuHide() {
        menuHideTimer = 0;

        if (menuForceShow) {
            setTimeout(menuHide, 100);
            return;
        }

        menuShowFlag = false;
    }
</script>

<div id="viewer_main">
    <div id="viewer_menu" class={menuShowFlag ? "" : "hidden"}>
        <span
            class="link"
            on:click={() => goList()}
            on:keypress={() => goList()}
            role="button"
            tabindex="0"
            ><img src="/img/arrow_undo.png" alt="list" />돌아가기</span
        >
        {fileName} 의 {totalPage} 중 현재 {pageIdx + 1} 페이지 입니다.<br />
        <span
            class="link"
            on:click={() => prevPage()}
            on:keypress={() => prevPage()}
            role="button"
            tabindex="0"><img src="/img/back_bt.png" alt="이전 페이지" /></span
        >
        <span
            class="link"
            on:click={() => commandHelp()}
            on:keypress={() => commandHelp()}
            role="button"
            tabindex="0">명령어 도움말 보기</span
        >
        <span
            class="link"
            on:click={() => nextPage()}
            on:keypress={() => nextPage()}
            role="button"
            tabindex="0"><img src="/img/next_bt.png" alt="다음 페이지" /></span
        >
    </div>
    <div id="button">
        <div class="viewer_left">
            <span on:click={() => prevPage()} aria-hidden="true"
                ><img
                    src="/img/blackdummy.png"
                    width="100%"
                    height="100%"
                    alt="이전 페이지"
                /></span
            >
        </div>
        <div
            class="viewer_center"
            on:click={() => menuShow()}
            aria-hidden="true"
        ></div>
        <div class="viewer_right">
            <span on:click={() => nextPage()} aria-hidden="true"
                ><img
                    src="/img/blackdummy.png"
                    width="100%"
                    height="100%"
                    alt="다음 페이지"
                /></span
            >
        </div>
    </div>
    <div class="center_fild">
        {#each { length: totalPage } as _, idx}
            {#if idx == pageIdx}
                <img
                    src={imageUrl(idx)}
                    class="main_image"
                    alt={`image ${idx}`}
                />
            {:else if idx >= pageIdx - 2 && idx <= pageIdx + 2}
                <img
                    src={imageUrl(idx)}
                    class="main_image"
                    style="width: 1px; height: 1px; position: fixed; top: 0px; left: 0px;"
                    alt={`image ${idx}`}
                />
            {:else}
                <img
                    src="/img/loading.gif"
                    class="main_image"
                    style="width: 250px; height: 250px; display:none;"
                    alt={`image ${idx}`}
                />
            {/if}
        {/each}
    </div>
</div>
<div style="position:fixed;bottom:0px;width:100%;">
    <div style="float:left">
        <h2>
            <span
                class="link"
                on:click={() => prevPage()}
                on:keypress={() => prevPage()}
                role="button"
                tabindex="0">이전장 보기</span
            >
        </h2>
    </div>
    <div style="float:right">
        <h2>
            <span
                class="link"
                on:click={() => nextPage()}
                on:keypress={() => nextPage()}
                role="button"
                tabindex="0">다음장 보기</span
            >
        </h2>
    </div>
    <div style="clear:both"></div>
</div>

<style>
    #viewer_main {
        width: 100%;
        height: 100%;
        background: #000;
        color: #ffffff;
    }

    #viewer_main img {
        vertical-align: middle;
    }

    #viewer_menu {
        width: 100%;
        height: 100%;
    }

    #viewer_menu {
        position: fixed;
        z-index: 100;
        top: 0px;
        width: 100%;
        height: 36px;
        padding: 3px 0px;
        text-align: center;
        background: -webkit-linear-gradient(
            top,
            rgba(125, 126, 125, 1) 0%,
            rgba(14, 14, 14, 1) 100%
        );
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }

    #viewer_menu.hidden {
        transform: translateY(-100%);
    }

    #viewer_menu span {
        color: #ffffff;
    }

    #button {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-bottom: 42px;
    }

    .viewer_left {
        float: left;
        width: 40%;
        height: 100%;
    }

    .viewer_center {
        float: left;
        width: 20%;
        height: 100%;
    }

    .viewer_right {
        float: right;
        width: 40%;
        height: 100%;
    }

    .viewer_left:hover {
        background-color: #000;
        opacity: 0.3;
    }

    .viewer_right:hover {
        background-color: #000;
        opacity: 0.3;
    }

    .center_fild {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }

    .main_image {
        width: 100%;
        max-width: 100svw;
        height: 100%;
        max-height: 100svh;
        object-fit: contain;
    }
</style>
