body {
    margin: 0px auto;
}

a, span.link {
    text-decoration: none;
    color: #000000;
}

a:hover, span:hover.link {
    text-decoration: none;
    color: #0000ff;
}

img {
    border: 0px;
}

img.align-bottom {
    vertical-align: bottom;
}

.back {
	width: 100svw;
    min-width: 100%;
    height: auto;
    min-height: 100svh;
    background-color: #ececec;
}

.content {
    width: 90%;
    min-width: 900px;
    font-size: 10pt;
    font-family: sans-serif, "dotum", "돋움";
    margin: 0px auto;
}

.list_file {
    clear: both;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    height: 68px;
    overflow-y: auto;
}

.notice {
    clear: both;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    overflow-y: auto;
}

.white_top {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 6px 5px 10px 5px;
}

.white_notice {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 1px 5px 10px 5px;
}

.name {
    font-weight: bold;
}

.size {
    font-weight: normal;
    color: #666666;
    font-size: 9pt;
}

.date {
    margin-top: 15px;
}

.left {
    width: 88%;
    min-width: 770px;
    float: left;
}

.right {
    width: 100px;
    float: right;
}

#wrap_all .wrap_notice {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

#wrap_all .wrap_notice .msgbox {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 85px;
    margin-top: 125px;
    margin-left: -235px;
    background-color: red;
}

#wrap_all .wrap_notice .msgbox_msg {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 15px;
    margin-top: 210px;
    margin-left: -235px;
    font-weight: bold;
}

html {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "돋움","Dotum", sans-serif;
}

