<script>
	import Router from "svelte-spa-router";
	import { wrap } from "svelte-spa-router/wrap";

	import Loading from "@/lib/components/loading.svelte";
	import Login from "./routes/Login.svelte";
	import "./app.css";

	const routes = {
		"/": Login,
		"/admin": wrap({
			asyncComponent: () => import("./routes/Admin.svelte"),
		}),
		"/list/:path?": wrap({
			asyncComponent: () => import("./routes/List.svelte"),
		}),
		"/login": Login,
		"/register": wrap({
			asyncComponent: () => import("./routes/Register.svelte"),
		}),
		"/viewer/:path/:page?": wrap({
			asyncComponent: () => import("./routes/Viewer.svelte"),
		}),
	};
</script>

<div class="app">
	<Loading />

	<header></header>

	<main>
		<Router {routes} />
	</main>

	<footer></footer>
</div>
